In [1]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\Users\Reina\github\portfolioproject\Python\Data\reading_in_files\world_population.csv")

df

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [7]:
df = pd.read_csv(r"C:\Users\Reina\github\portfolioproject\Python\Data\reading_in_files\world_population.csv", index_col = "Country/Territory")

df

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [25]:
df.reset_index(inplace=True)

In [27]:
df

,Country/Territory,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [31]:
df.set_index('Country/Territory')

df

,Country/Territory,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [33]:
df.set_index('Country/Territory', inplace=True)

df

,Rank,CCA3,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
Country/Territory,,,,,,,,,,,,,,,,
Afghanistan,36,AFG,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
Albania,138,ALB,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
Algeria,34,DZA,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
American Samoa,213,ASM,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
Andorra,203,AND,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna,226,WLF,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
Western Sahara,172,ESH,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
Yemen,46,YEM,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
Zambia,63,ZMB,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
Zimbabwe,74,ZWE,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [35]:
df.loc['Albania']

Rank                               138
CCA3                               ALB
Capital                         Tirana
Continent                       Europe
2022 Population                2842321
2020 Population                2866849
2015 Population                2882481
2010 Population                2913399
2000 Population                3182021
1990 Population                3295066
1980 Population                2941651
1970 Population                2324731
Area (km²)                       28748
Density (per km²)              98.8702
Growth Rate                     0.9957
World Population Percentage       0.04
Name: Albania, dtype: object

In [39]:
df.iloc[1]

Rank                               138
CCA3                               ALB
Capital                         Tirana
Continent                       Europe
2022 Population                2842321
2020 Population                2866849
2015 Population                2882481
2010 Population                2913399
2000 Population                3182021
1990 Population                3295066
1980 Population                2941651
1970 Population                2324731
Area (km²)                       28748
Density (per km²)              98.8702
Growth Rate                     0.9957
World Population Percentage       0.04
Name: Albania, dtype: object

In [49]:
df.reset_index(inplace=True)

In [59]:
df.set_index(['Continent', 'Country/Territory'], inplace=True)

In [79]:
df.sort_index()

# pd.set_option('display.max.rows', 235)

df

                                                Rank CCA3  \
Continent     Country/Territory
Asia          Afghanistan                         36  AFG
Europe        Albania                            138  ALB
Africa        Algeria                             34  DZA
Oceania       American Samoa                     213  ASM
Europe        Andorra                            203  AND
Africa        Angola                              42  AGO
North America Anguilla                           224  AIA
              Antigua and Barbuda                201  ATG
South America Argentina                           33  ARG
Asia          Armenia                            140  ARM
North America Aruba                              198  ABW
Oceania       Australia                           55  AUS
Europe        Austria                             99  AUT
Asia          Azerbaijan                          91  AZE
North America Bahamas                            176  BHS
Asia          Bahrain                            154  BHR
              Bangladesh                           8  BGD
North America Barbados                           186  BRB
Europe        Belarus                             96  BLR
              Belgium                             81  BEL
North America Belize                             177  BLZ
Africa        Benin                               77  BEN
North America Bermuda                            206  BMU
Asia          Bhutan                             165  BTN
South America Bolivia                             80  BOL
Europe        Bosnia and Herzegovina             137  BIH
Africa        Botswana                           144  BWA
South America Brazil                               7  BRA
North America British Virgin Islands             221  VGB
Asia          Brunei                             175  BRN
Europe        Bulgaria                           108  BGR
Africa        Burkina Faso                        58  BFA
              Burundi                             78  BDI
Asia          Cambodia                            73  KHM
Africa        Cameroon                            53  CMR
North America Canada                              39  CAN
Africa        Cape Verde                         171  CPV
North America Cayman Islands                     205  CYM
Africa        Central African Republic           117  CAF
              Chad                                69  TCD
South America Chile                               65  CHL
Asia          China                                1  CHN
South America Colombia                            28  COL
Africa        Comoros                            163  COM
Oceania       Cook Islands                       223  COK
North America Costa Rica                         124  CRI
Europe        Croatia                            130  HRV
North America Cuba                                85  CUB
              Curacao                            189  CUW
Europe        Cyprus                             158  CYP
              Czech Republic                      88  CZE
              Denmark                            115  DNK
Africa        Djibouti                           160  DJI
North America Dominica                           204  DMA
              Dominican Republic                  84  DOM
Africa        DR Congo                            15  COD
South America Ecuador                             67  ECU
Africa        Egypt                               14  EGY
North America El Salvador                        112  SLV
Africa        Equatorial Guinea                  152  GNQ
              Eritrea                            132  ERI
Europe        Estonia                            156  EST
Africa        Eswatini                           159  SWZ
              Ethiopia                            12  ETH
South America Falkland Islands                   231  FLK
Europe        Faroe Islands                      209  FRO
Oceania       Fiji                               162  FJI
Europe        Finland                            118  FIN
              France                              23  FRA
South America French Guiana                      184  GUF
Oceania       French Polynesia                   183  PYF
Africa        Gabon                              146  GAB
              Gambia                             142  GMB
Asia          Georgia                            131  GEO
Europe        Germany                             19  DEU
Africa        Ghana                               47  GHA
Europe        Gibraltar                          219  GIB
              Greece                              90  GRC
North America Greenland                          208  GRL
              Grenada                            193  GRD
              Guadeloupe                         178  GLP
Oceania       Guam                               191  GUM
North America Guatemala                           68  GTM
Europe        Guernsey                           207  GGY
Africa        Guinea                              75  GIN
              Guinea-Bissau                      149  GNB
South America Guyana                             164  GUY
North America Haiti                               82  HTI
              Honduras                            89  HND
Asia          Hong Kong                          104  HKG
Europe        Hungary                             94  HUN
              Iceland                            179  ISL
Asia          India                                2  IND
              Indonesia                            4  IDN
              Iran                                17  IRN
              Iraq                                35  IRQ
Europe        Ireland                            125  IRL
              Isle of Man                        202  IMN
Asia          Israel                              98  ISR
Europe        Italy                               25  ITA
Africa        Ivory Coast                         52  CIV
North America Jamaica                            139  JAM
Asia          Japan                               11  JPN
Europe        Jersey                             195  JEY
Asia          Jordan                              83  JOR
              Kazakhstan                          66  KAZ
Africa        Kenya                               27  KEN
Oceania       Kiribati                           192  KIR
Asia          Kuwait                             129  KWT
              Kyrgyzstan                         110  KGZ
              Laos                               103  LAO
Europe        Latvia                             151  LVA
Asia          Lebanon                            119  LBN
Africa        Lesotho                            147  LSO
              Liberia                            121  LBR
              Libya                              107  LBY
Europe        Liechtenstein                      216  LIE
              Lithuania                          141  LTU
              Luxembourg                         168  LUX
Asia          Macau                              167  MAC
Africa        Madagascar                          50  MDG
              Malawi                              62  MWI
Asia          Malaysia                            45  MYS
              Maldives                           174  MDV
Africa        Mali                                59  MLI
Europe        Malta                              173  MLT
Oceania       Marshall Islands                   215  MHL
North America Martinique                         180  MTQ
Africa        Mauritania                         126  MRT
              Mauritius                          157  MUS
              Mayotte                            182  MYT
North America Mexico                              10  MEX
Oceania       Micronesia                         194  FSM
Europe        Moldova                            135  MDA
              Monaco                             217  MCO
Asia          Mongolia                           134  MNG
Europe        Montenegro                         169  MNE
North America Montserrat                         230  MSR
Africa        Morocco                             40  MAR
              Mozambique                          48  MOZ
Asia          Myanmar                             26  MMR
Africa        Namibia                            145  NAM
Oceania       Nauru                              225  NRU
Asia          Nepal                               49  NPL
Europe        Netherlands                         71  NLD
Oceania       New Caledonia                      185  NCL
              New Zealand                        123  NZL
North America Nicaragua                          106  NIC
Africa        Niger                               54  NER
              Nigeria                              6  NGA
Oceania       Niue                               232  NIU
Asia          North Korea                         56  PRK
Europe        North Macedonia                    150  MKD
Oceania       Northern Mariana Islands           210  NFK
Europe        Norway                             120  NOR
Asia          Oman                               127  OMN
              Pakistan                             5  PAK
Oceania       Palau                              222  PLW
Asia          Palestine                          122  PSE
North America Panama                             128  PAN
Oceania       Papua New Guinea                    93  PNG
South America Paraguay                           109  PRY
              Peru                                44  PER
Asia          Philippines                         13  PHL
Europe        Poland                              37  POL
              Portugal                            92  PRT
North America Puerto Rico                        136  PRI
Asia          Qatar                              143  QAT
Africa        Republic of the Congo              114  COG
              Reunion                            161  REU
Europe        Romania                             64  ROU
              Russia                               9  RUS
Africa        Rwanda                              76  RWA
North America Saint Barthelemy                   228  BLM
              Saint Kitts and Nevis              211  KNA
              Saint Lucia                        190  LCA
              Saint Martin                       220  MAF
              Saint Pierre and Miquelon          229  SPM
              Saint Vincent and the Grenadines   199  VCT
Oceania       Samoa                              188  WSM
Europe        San Marino                         218  SMR
Africa        Sao Tome and Principe              187  STP
Asia          Saudi Arabia                        41  SAU
Africa        Senegal                             72  SEN
Europe        Serbia                             105  SRB
Africa        Seychelles                         196  SYC
              Sierra Leone                       102  SLE
Asia          Singapore                          113  SGP
North America Sint Maarten                       214  SXM
Europe        Slovakia                           116  SVK
              Slovenia                           148  SVN
Oceania       Solomon Islands                    166  SLB
Africa        Somalia                             70  SOM
              South Africa                        24  ZAF
Asia          South Korea                         29  KOR
Africa        South Sudan                         86  SSD
Europe        Spain                               30  ESP
Asia          Sri Lanka                           61  LKA
Africa        Sudan                               32  SDN
South America Suriname                           170  SUR
Europe        Sweden                              87  SWE
              Switzerland                        101  CHE
Asia          Syria                               60  SYR
              Taiwan                              57  TWN
              Tajikistan                          95  TJK
Africa        Tanzania                            22  TZA
Asia          Thailand                            20  THA
              Timor-Leste                        155  TLS
Africa        Togo                               100  TGO
Oceania       Tokelau                            233  TKL
              Tonga                              197  TON
North America Trinidad and Tobago                153  TTO
Africa        Tunisia                             79  TUN
Asia          Turkey                              18  TUR
              Turkmenistan                       111  TKM
North America Turks and Caicos Islands           212  TCA
Oceania       Tuvalu                             227  TUV
Africa        Uganda                              31  UGA
Europe        Ukraine                             38  UKR
Asia          United Arab Emirates                97  ARE
Europe        United Kingdom                      21  GBR
North America United States                        3  USA
              United States Virgin Islands       200  VIR
South America Uruguay                            133  URY
Asia          Uzbekistan                          43  UZB
Oceania       Vanuatu                            181  VUT
Europe        Vatican City                       234  VAT
South America Venezuela                           51  VEN
Asia          Vietnam                             16  VNM
Oceania       Wallis and Futuna                  226  WLF
Africa        Western Sahara                     172  ESH
Asia          Yemen                               46  YEM
Africa        Zambia                              63  ZMB
              Zimbabwe                            74  ZWE

                                                            Capital  \
Continent     Country/Territory
Asia          Afghanistan                                     Kabul
Europe        Albania                                        Tirana
Africa        Algeria                                       Algiers
Oceania       American Samoa                              Pago Pago
Europe        Andorra                              Andorra la Vella
Africa        Angola                                         Luanda
North America Anguilla                                   The Valley
              Antigua and Barbuda                      Saint John’s
South America Argentina                                Buenos Aires
Asia          Armenia                                       Yerevan
North America Aruba                                      Oranjestad
Oceania       Australia                                    Canberra
Europe        Austria                                        Vienna
Asia          Azerbaijan                                       Baku
North America Bahamas                                        Nassau
Asia          Bahrain                                        Manama
              Bangladesh                                      Dhaka
North America Barbados                                   Bridgetown
Europe        Belarus                                         Minsk
              Belgium                                      Brussels
North America Belize                                       Belmopan
Africa        Benin                                      Porto-Novo
North America Bermuda                                      Hamilton
Asia          Bhutan                                        Thimphu
South America Bolivia                                         Sucre
Europe        Bosnia and Herzegovina                       Sarajevo
Africa        Botswana                                     Gaborone
South America Brazil                                       Brasilia
North America British Virgin Islands                      Road Town
Asia          Brunei                            Bandar Seri Begawan
Europe        Bulgaria                                        Sofia
Africa        Burkina Faso                              Ouagadougou
              Burundi                                     Bujumbura
Asia          Cambodia                                   Phnom Penh
Africa        Cameroon                                      Yaounde
North America Canada                                         Ottawa
Africa        Cape Verde                                      Praia
North America Cayman Islands                            George Town
Africa        Central African Republic                       Bangui
              Chad                                        N'Djamena
South America Chile                                        Santiago
Asia          China                                         Beijing
South America Colombia                                       Bogota
Africa        Comoros                                        Moroni
Oceania       Cook Islands                                   Avarua
North America Costa Rica                                   San José
Europe        Croatia                                        Zagreb
North America Cuba                                           Havana
              Curacao                                    Willemstad
Europe        Cyprus                                        Nicosia
              Czech Republic                                 Prague
              Denmark                                    Copenhagen
Africa        Djibouti                                     Djibouti
North America Dominica                                       Roseau
              Dominican Republic                      Santo Domingo
Africa        DR Congo                                     Kinshasa
South America Ecuador                                         Quito
Africa        Egypt                                           Cairo
North America El Salvador                              San Salvador
Africa        Equatorial Guinea                              Malabo
              Eritrea                                        Asmara
Europe        Estonia                                       Tallinn
Africa        Eswatini                                      Mbabane
              Ethiopia                                  Addis Ababa
South America Falkland Islands                              Stanley
Europe        Faroe Islands                                Tórshavn
Oceania       Fiji                                             Suva
Europe        Finland                                      Helsinki
              France                                          Paris
South America French Guiana                                 Cayenne
Oceania       French Polynesia                              Papeete
Africa        Gabon                                      Libreville
              Gambia                                         Banjul
Asia          Georgia                                       Tbilisi
Europe        Germany                                        Berlin
Africa        Ghana                                           Accra
Europe        Gibraltar                                   Gibraltar
              Greece                                         Athens
North America Greenland                                        Nuuk
              Grenada                                Saint George's
              Guadeloupe                                Basse-Terre
Oceania       Guam                                          Hagåtña
North America Guatemala                              Guatemala City
Europe        Guernsey                             Saint Peter Port
Africa        Guinea                                        Conakry
              Guinea-Bissau                                  Bissau
South America Guyana                                     Georgetown
North America Haiti                                  Port-au-Prince
              Honduras                                  Tegucigalpa
Asia          Hong Kong                                   Hong Kong
Europe        Hungary                                      Budapest

In [85]:
df.loc['Africa', 'Angola']

Rank                                 42
CCA3                                AGO
Capital                          Luanda
2022 Population                35588987
2020 Population                33428485
2015 Population                28127721
2010 Population                23364185
2000 Population                16394062
1990 Population                11828638
1980 Population                 8330047
1970 Population                 6029700
Area (km²)                      1246700
Density (per km²)               28.5466
Growth Rate                      1.0315
World Population Percentage        0.45
Name: (Africa, Angola), dtype: object

In [87]:
df.iloc[1]

Rank                               138
CCA3                               ALB
Capital                         Tirana
2022 Population                2842321
2020 Population                2866849
2015 Population                2882481
2010 Population                2913399
2000 Population                3182021
1990 Population                3295066
1980 Population                2941651
1970 Population                2324731
Area (km²)                       28748
Density (per km²)              98.8702
Growth Rate                     0.9957
World Population Percentage       0.04
Name: (Europe, Albania), dtype: object